.item{
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align:left;
    justify-content: space-between;
}
